<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testBlocksKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>686D1CB61D90DCEE006DBD25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686D1CCF1D90DCEF006DBD25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686D1CDA1D90DCEF006DBD25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
